<%= render 'layouts/profile'%>
<article class="w-100 bord p-2 rounded-top shadow">
  <h5 class="p-1">Bio</h5>
  <p class="p-1"><%= @user.bio %></p>
</article>

<% @posts.each do |post| %>
  <%= render 'layouts/posts', :post =>post %>
<% end %>
<div class="d-flex justify-content-center">
<%= link_to 'Show all posts',posts_path, class:"btn button p-3 m-3" %>
</div> 



