/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box !important;
  padding: 0 !important;
  margin: 0 !important;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

a:hover {
  color: #ff674d;
}

.button {
  background-color: #1d025e;
  color: #9191e9;
}

.button:hover {
  color: #ff674d;
}

img {
  width: 100%;
  height: 100%;
}

body {
  background-color: #3a0ca3;
  color: #9191e9;
  word-spacing: -1px;
  font-family: 'PT Sans Narrow', sans-serif;
}

.bord {
  border: 1px solid #383D3B;
}

.shadow {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.profileContainer {
  height: 10em;
  margin: 2em 0 !important;
}

.postsBy {
  height: 3em;
}

.postsText {
  min-height: 5em;
}
